[build]
  command = "npm run build"
  publish = "dist"

# cho phép load asset trước
[[redirects]]
  from = "/assets/*"
  to = "/assets/:splat"
  status = 200

# SPA fallback
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
